body{
    background:#5bc0be;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

main{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    max-width:500px;
}

button{
    padding:12px 20px;
    margin-top:20px;
    font-size:16px;
    cursor:pointer;
}

.passo{ display:none; }
.passo.ativo{ display:block; }